@page
@model MyApp.Namespace.ListaClientesModel
@{
    ViewData["Title"] = "Lista de Clientes";
}

<div class="container">
    <h1>Lista de Clientes</h1>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RUT</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tdbody>
                    @foreach (var cliente in Model.Clientes)
                    {
                        <tr>
                            <td>@cliente.Id</td>
                            <td>@cliente.Rut</td>
                            <td>@cliente.Nombre</td>
                            <td>@cliente.Apellido</td>
                        </tr>
                    }
                </tdbody>
            </table>
        </div>
    </div>
