@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Index</h1>
<div>
    <h2>Listar</h2>
    <ul>
        <li><a href="/List/ListaClientes">Listar Clientes</a></li>
        <li><a href="/List/HabitacionesDisponibles">Listar Habitaciones</a></li>
        <li><a href="/List/ListaReservas">Listar Reservas</a></li>
    </ul>

</div>